<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMapper">

	<select id="noticeList" parameterType="int" resultType="NoticeDTO">
		select n.n_id, n.n_title,n.userid, m.username, n.wdate, n.lookup, n.content
		from notice n join member m
		on n.userid = m.userid
		where n.n_id > 0
		order by n.n_id desc
	</select>

	<select id="noticeReadContent" parameterType="int" resultType="NoticeDTO">
		select n.n_id, n.n_title, n.userid, m.username, n.wdate, n.lookup, n.content
		from notice n join member m
		on n.userid = m.userid
		where n.n_id = #{n_id}
	</select>

	<update id="noticeLookupIncrease" parameterType="int">
		update
		notice
		set lookup = lookup + 1
		where n_id = #{n_id}
	</update>

	<insert id="noticeWriteAdd" parameterType="NoticeDTO">
		insert into notice
		(n_id, n_title, userid, lookup, content)
		values(notice_seq.nextval, #{n_title}, #{userid}, 0, #{content})
	</insert>

	<delete id="noticeContentDel" parameterType="int">
		delete
		from notice
		where n_id = #{n_id}
	</delete>

	<update id="noticeContentUp" parameterType="NoticeDTO">
		update notice
		set
		n_title = #{n_title},
		wdate = sysdate,
		content = #{content}
		where n_id = #{n_id}

	</update>
</mapper>